div.main-hot
	+tittle('Sản phẩm bán chạy','assets/image/title-dark.png')
	div.product-show
		i.fa.fa-arrow-left
		div.product-category
			+productDetails('', 'assets/image/ASB0904_001.jpeg')
			+productDetails('', 'assets/image/ASB0904_001.jpeg')
			+productDetails('', 'assets/image/ASB0904_001.jpeg')
			+productDetails('', 'assets/image/ASB0904_001.jpeg')
		i.fa.fa-arrow-right