div.main-new
	+tittle('Sản phẩm mới','assets/image/title-dark.png')
	div.product-show
		i.fa.fa-arrow-left
		div.product-category
			+productDetails('SALES', 'assets/image/ASB0904_001.jpeg')
			+productDetails('MỚI', 'assets/image/ASB0904_001.jpeg')
			+productDetails('HOT', 'assets/image/ASB0904_001.jpeg')
			+productDetails('', 'assets/image/ASB0904_001.jpeg')
		i.fa.fa-arrow-right