//main
div.main
	img.main-img(src="../assets/image/product.jpg" alt="grape")
	include main-intro
	include main-sales
	include main-new
	include main-pictures
	include main-hot
	include main-blogs-customers