.header {
	img {
		max-width: 100%;
	}

	.banner {
		color: rgba($colorWhite, 0.7);
		.banner__text {
			h1 {
				font-size: 350px;
				font-weight: 100;
				position: absolute;
				z-index: 1;
				top: 56px;
				left: 50%;
	    		transform: translateX(-70%);
	    		@include maxWidth(1129px) {
	    			font-size: 220px;
	    			top: 100px;
	    		}
	    		@include maxWidth(950px) {
	    			font-size: 130px;
	    			top: 135px;
	    		}
	    		@include maxWidth(700px) {
					font-size: 60px;
				    top: 120px;
	    		}
			}
			h2 {
				font-size: 95px;
				font-weight: 100;
				position: absolute;
				z-index: 1;
				top: 95px;
				left:38%;
				font-family: cursive;

				@include maxWidth(1129px) {
	    			font-size: 45px;
				    top: 150px;
				    left: 46%;
	    		}
	    		@include maxWidth(950px) {
					font-size: 25px;
				    top: 160px;
				    left: 46%;
				}
				@include maxWidth(700px) {
					font-size: 15px;
				    top: 130px;
				    left: 46%;
				}
			}
			h3 {
				font-size: 45px;
				font-weight: 100;
				position: absolute;
				z-index: 1;
				top: 382px;
				left: 70%;
				font-family: cursive;
				@include maxWidth(1129px) {
	    			font-size: 23px;
	    			top: 310px;
	    			left: 65%;
	    		}
	    		@include maxWidth(950px) {
					font-size: 15px;
				    top: 256px;
				    left: 63%;
				}
				@include maxWidth(700px) {
	    			font-size: 10px;
				    top: 173px;
				    left: 60%;
	    		}
			}
		}
	}	
}