.main-intro {
	padding: 90px;
	margin: 0 10%;
	@include flexCenter;
	@include flexDisplay(column);
	@include tittle;
	p {
		text-align: center;
		padding: 0 20%;
		font-size: 16px;
		font-weight: 300;
	}
	button {
		@include button;
		margin-top: 25px;
		padding: 8px 40px;
	}
}