.main {
	position: relative;

	.main-img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 27%;
	}
	
	@import "main-intro";
	@import "main-sales";
	@import "main-new";
	@import "main-pictures";
	@import "main-hot";
	@import "main-blogs-customers";
}