@mixin flexDisplay($flexDirection) {
	display: flex;
	flex-direction: $flexDirection;
	flex-wrap: nowrap;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin clearFix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin maxWidth($value){
	@media screen and (max-width: $value) {
		@content;
	}
}

@mixin productImage($widthPercent, $boderColor, $mediaValue) {
	.main-sales__product-image {
		flex: $widthPercent;
		max-width: $widthPercent;
		position: relative;
		@include maxWidth($mediaValue) {
			flex: 100%;
			max-width: 100%;
			box-sizing: border-box;
		}

		.main-sales__product-image--tittle-container-1 {
			height: 0;
			width: 0;
			border-top: 50px solid $boderColor;
			border-right: 50px solid transparent;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
		}
		.main-sales__product-image--tittle-container-2{
			height: 0;
			width: 0;
			border-top: 49px solid white;
			border-right: 49px solid transparent;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
		}
		.main-sales__product-image--tittle-container-3 {
			height: 0;
			width: 0;
			border-top: 47px solid $boderColor;
			border-right: 47px solid transparent;
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
		}
		.main-sales__product-image--tittle-text {
			position: absolute;
			z-index: 4;
			top: 10px;
			left: 4px;
			color: white;
			font-weight: 400;
			font-size: 10px;
			transform: rotate(-45deg);
		}

		img {
			width: 125px;
			padding: 7px 65px;

		    @include maxWidth($mediaValue) {
				position: static;
				display: block;
				margin-left: 50%;
				padding: 30px;
			}
		}
	}
}

@mixin button {
	color: white;
	border: none;
	background: black;
	padding: 8px 20px;
	margin-bottom: 20px;
	&:hover {
		background: $colorYelow;
	}
}

@mixin tittle {
	.main-intro__tittle {
		@include flexCenter;
		@include flexDisplay(column);
		padding: 25px 0;
	}
}

@mixin productShow {
	padding: 0 10% 90px 10%;
	
	.main-intro__tittle {
		@include flexCenter;
		@include flexDisplay(column);
		padding: 25px 0;
	}
	.product-show {
		@include flexDisplay(row);

		.fa-arrow-left, .fa-arrow-right {
			flex: 2.5%;
			max-width: 2.5%;
			font-size: 17px;
			text-align: center;
			margin: auto 0;

			&:hover {
				color: $colorYelow;
			}	
		}

		.product-category {
			flex: 95%;
			max-width: 95%;
			@include flexDisplay(row);
			@include maxWidth(1000px) {
				@include flexDisplay(column);
			}

			.product-details {
				max-width: 25%;
				flex: 25%;
				@include flexCenter;
				@include flexDisplay(column);
				@include productImage(100%, $colorYelow, 0px);
				@include maxWidth(1000px) {
					max-width: 100%;
					flex: 100%;
					box-sizing: border-box;
					&:nth-child(2), &:nth-child(3), &:nth-child(4) {
						display: none;					
					}
				}

				&:nth-child(2) {
					.main-sales__product-image {
						.main-sales__product-image--tittle-container-1{
							border-top: 50px solid #62af26;
						}
						.main-sales__product-image--tittle-container-3 {
							border-top: 47px solid #62af26;
						}
					}
				}
				&:nth-child(3) {
					.main-sales__product-image {
						.main-sales__product-image--tittle-container-1{
							border-top: 50px solid #ed301c;
						}
						.main-sales__product-image--tittle-container-3 {
							border-top: 47px solid #ed301c;
						}
					}
				}
				&:nth-child(4) {
					.main-sales__product-image {
						.main-sales__product-image--tittle-container-1, .main-sales__product-image--tittle-container-2, .main-sales__product-image--tittle-container-3 {
							border: none;
						}
					}
				}

				.main-sales__product-image {
					margin-bottom: 15px;

					.product-hover {
						color: rgba($colorWhite, 0.7);
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: black;
						overflow: hidden;
						width: 100%;
						height: 0;
						transition: .5s ease;
						font-size: 13px;
						@include flexDisplay(row);
					}
				}

				&:hover {
					.main-sales__product-image {
						.product-hover {						
							height: auto;
							.product-hover__item {
								border-right: 1px solid rgba($colorWhite, 0.4);
								flex: 40%;
								max-width: 40%;
								padding: 3px 8px;
								@include flexCenter;

								i {
									padding-right: 5px;
								}

								&:hover {
									i {
										color: white;
									}
								}
							}

							.product-hover__zoom {
								flex: 20%;
								max-width: 20%;
								padding: 1px 8px;
								@include flexCenter;

								span {
									font-weight: 700;
									font-size: 15px;
								}

								&:hover {
									span {
										color: white;
									}
								}
							}
						}
					}

					.product-content {
						h4 {
							color: $colorYelow;
						}

						button {
							background: $colorYelow;
						}
					}
				}

				.product-content {
					@include flexCenter;
					@include flexDisplay(column);

					.product-content__price {
						margin-bottom: 7px;
						.product-content__price-main {
							color: $colorYelow;
							font-size: 25px;
							padding-right: 5px;
						}
						.product-content__price-old {
							color: rgba($colorBlack, 0.5);
						}
					}
					button {
						@include button;
					}
					
				}
			}
		}
	}
}

@mixin navBarDropdown($flexDirection, $widthPercent, $top, $left, $width, $leftTriangle) {
	position: relative;

	.nav-bar-small__item-dropdown-content {
		display: none;
	}

	&:hover {
		.nav-bar-small__item-dropdown-content {
		@include flexDisplay($flexDirection);
		position: absolute;
		padding: 30px;
		z-index: 30;
		top: $top;
		left: $left;
		width: $width;
		background: white;
		border: 2px solid $colorYelow;
		text-align: start;

		&:before {
			content: '';
			border-top: 8px solid transparent;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid $colorYelow;
			position: absolute;
		    top: -18px;
		    left: $leftTriangle;
		    transform: translateX(-50%);
			z-index: 10;
		}

		.nav-bar__item-dropdown-content--column {
			flex: $widthPercent;
			max-width: $widthPercent;
			text-align: center;

			&:not(:last-child){
				padding-bottom:10px;
			}

			a {
			color: black;
			font-size: 14px;
			line-height: 1.7;

				&:hover {
					color: $colorYelow;
				}
			}
		}
	}
		
		.nav-bar__item-dropdown-content--column-image {
			flex: 30%;
			max-width: 30%;

			img {
				width: 50%;
			}
		}
	}
}